@import './index';

$src-ss-padding: 0.68rem;
html{
    background-color: #eee;
}
.container{
    background-color: #eee;
    main{
        margin: 0.64rem $src-ss-padding;
        .middle-ss-top{
            font-size: 0.44rem;
            i{
                position: relative;
                top: 2px;
                margin-right: 5px;
            }
        }
        .middle-ss-list{
            margin-top: 9px;
            display: flex;
            justify-content: space-around;
            .ss-list-item{
                padding: 0 0.36rem;
                background-color: #fff;
                font-size: 0.24rem;
            }
        }
         .middle-ss-bottom{
             margin-top: 23px;
            .litter-box{
                width: 7.33rem;
                font-size: 0.24rem;
                letter-spacing: 0.22rem;
                padding: 0.44rem;
                margin: 0 auto;
                text-align: center;
                background-color: #bcbcbc;
                border-radius: 3px;
                i{
                    padding-right: 2px;
                    font-size: 0.80rem;
                }
            }
         }
//底部部分
.site-footer{
    position: fixed;
    height: 42px;
    background-color: #171717;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    color: #9b9b9b;
    .footer-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .footer-list-item{
           width: 36px;
           height: 35px;
           &:nth-child(4){
               img{
                   left: 4px;
               }
           }
           i{
               font-size: 19px;
               line-height: 13px;
               position: relative;
               top: 4px;
               img{
                   position: relative;
                   top: -2px;
                   width: 20px;
                   height: 19px;
                   vertical-align: middle;
               }
           }
           .f-sy{
            font-size: 12px;
            position: relative;
            top: 2px;
            left: -2px;
            display: block;
           }
           span{
               display: block;
               font-size: 12px;
               position: relative;
               top: 2px;
               left: -2px;
           }
        }
    }
} 
    }
}
