@charset "UTF-8";
.top-hd {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  padding: 0 11px;
  background: linear-gradient(to right, #910757, #f71c5a);
  height: 38px; }
  .top-hd .logo-wrap {
    height: 22px;
    width: 22px;
    margin-top: 8px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain; }
  .top-hd .srch-wrap {
    flex: 1;
    padding: 6px 5px;
    margin-right: 20px;
    position: relative;
    left: 4px; }
    .top-hd .srch-wrap .srch-txt {
      position: absolute;
      width: 100%;
      height: 25px;
      box-sizing: border-box;
      border: none;
      line-height: 24px;
      font-size: 12px;
      border-radius: 12px;
      background-color: #930f3e;
      padding-left: 1em;
      color: white; }
    .top-hd .srch-wrap input:-ms-input-placeholder {
      color: #b38998; }
    .top-hd .srch-wrap input::-webkit-input-placeholder {
      color: #b38998; }
    .top-hd .srch-wrap i {
      position: absolute;
      right: 1em;
      top: 10px;
      color: #fff; }
  .top-hd .msg-wrap {
    width: 24px;
    height: 33px;
    position: relative; }
    .top-hd .msg-wrap p {
      height: 24px;
      font-size: 20px;
      line-height: 24px;
      color: white;
      text-align: center; }
    .top-hd .msg-wrap span {
      font-size: 11px;
      line-height: 12px;
      position: absolute;
      top: 23px;
      left: 0;
      color: #fff; }

.scroll-view {
  min-width: 320px;
  max-width: 649px;
  margin: 38px auto 42px; }

.swiper-container {
  position: relative; }
  .swiper-container::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    border: 1px solid #beae8d;
    left: 0;
    top: 0;
    transform: scale(0.5, 0.5);
    transform-origin: left top;
    box-sizing: border-box;
    border-left: none;
    border-right: none; }
  .swiper-container .swiper-wrapper .swiper-slide img {
    width: 6.4rem;
    height: 2.4rem;
    vertical-align: middle; }
  .swiper-container .swiper-pagination-bullet-active {
    background-color: white; }

.site-nav-wrap .site-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px; }
  .site-nav-wrap .site-nav .site-nav-item {
    flex: 0 0 36px;
    font-size: 12px;
    height: 47px; }
    .site-nav-wrap .site-nav .site-nav-item a {
      display: block; }
      .site-nav-wrap .site-nav .site-nav-item a i {
        width: 30px;
        height: 30px;
        display: block;
        margin: 0 auto;
        border-radius: 16px;
        background-color: #7f47dd;
        font-size: 15px;
        color: white;
        text-align: center;
        line-height: 30px; }
      .site-nav-wrap .site-nav .site-nav-item a p {
        font-size: 12px;
        color: #494949; }

.site-nav-wrap .cs-bg {
  background-color: #fb3057 !important; }

.site-nav-wrap .ms-bg {
  background-color: #d3c715 !important; }

.site-nav-wrap .cz-bg {
  background-color: #ff8920 !important; }

.layer {
  background-color: #fff; }
  .layer .layer-hd {
    height: 0.56rem;
    position: relative;
    padding: 0 0.22rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ff8a2f; }
    .layer .layer-hd::before {
      position: absolute;
      left: 0.22rem;
      top: 0;
      content: '';
      width: 0.12rem;
      height: 100%;
      background-color: #ff8a2f; }
    .layer .layer-hd::after {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      border: 1px solid #e4e2e2;
      left: 0;
      top: 0;
      transform: scale(0.5, 0.5);
      transform-origin: left top;
      box-sizing: border-box;
      border-top: none;
      border-left: none;
      border-right: none; }
    .layer .layer-hd .hd-l {
      display: flex;
      justify-content: flex-start;
      padding-left: 0.26rem;
      font-family: '黑体';
      font-size: 0.3rem; }
      .layer .layer-hd .hd-l .hd-title i.icon {
        font-size: 0.3rem; }
      .layer .layer-hd .hd-l .timer-wrap {
        font-size: 0.24rem;
        color: #121212;
        word-spacing: 0.04rem; }
        .layer .layer-hd .hd-l .timer-wrap span {
          float: left;
          margin-left: 0.05rem; }
        .layer .layer-hd .hd-l .timer-wrap .timer-num {
          line-height: 0.3rem;
          height: 0.3rem;
          width: 0.22rem;
          background-color: #121212;
          display: inline-block;
          font-weight: normal;
          color: white;
          text-align: center; }
    .layer .layer-hd .hd-r {
      display: flex;
      justify-content: flex-end;
      font-size: 0.03rem; }
      .layer .layer-hd .hd-r span {
        position: relative;
        top: -3px;
        left: -2px; }
      .layer .layer-hd .hd-r i.gdd img {
        display: inline-block;
        height: 0.3rem;
        width: 0.3rem;
        background-color: #ff8a2f;
        border-radius: 0.04rem; }
        .layer .layer-hd .hd-r i.gdd img::before {
          color: #fff; }
  .layer .layer-bd {
    box-sizing: border-box;
    height: 2.52rem;
    padding: 0.14rem 0.22rem; }
    .layer .layer-bd .layer-bd-list {
      display: flex;
      justify-content: space-around;
      align-items: center; }

.ms-layer .layer-bd {
  height: 2.26rem; }
  .ms-layer .layer-bd .layer-bd-list .bd-list-item a {
    display: block;
    position: relative; }
    .ms-layer .layer-bd .layer-bd-list .bd-list-item a::before {
      content: '';
      position: absolute;
      width: 200%;
      height: 200%;
      border: 1px solid #dad6d6;
      left: 0;
      top: 0;
      transform: scale(0.5, 0.5);
      transform-origin: left top;
      box-sizing: border-box; }
    .ms-layer .layer-bd .layer-bd-list .bd-list-item a img.ms-img {
      width: 1.78rem;
      height: 1.78rem;
      vertical-align: middle; }
  .ms-layer .layer-bd .layer-bd-list .bd-list-item .item-des {
    height: 0.23rem;
    width: 1.78rem;
    font-size: 0.20rem;
    color: #ec1a5a;
    text-align: center;
    position: relative; }
    .ms-layer .layer-bd .layer-bd-list .bd-list-item .item-des .ms-price-img {
      position: absolute;
      left: 0;
      top: 0.11rem;
      height: 0.16rem;
      width: 1.78rem;
      z-index: 10; }
    .ms-layer .layer-bd .layer-bd-list .bd-list-item .item-des .item-price {
      position: absolute;
      left: 0.5rem;
      top: 0;
      z-index: 11; }

.yd-layer .layer-bd .layer-bd-list .yd-bd-l a {
  display: block;
  position: relative; }
  .yd-layer .layer-bd .layer-bd-list .yd-bd-l a::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    border: 1px solid #dad6d6;
    left: 0;
    top: 0;
    transform: scale(0.5, 0.5);
    transform-origin: left top;
    box-sizing: border-box; }
  .yd-layer .layer-bd .layer-bd-list .yd-bd-l a img {
    width: 1.78rem;
    height: 2.28rem;
    vertical-align: middle; }

.yd-layer .layer-bd .layer-bd-list .yd-bd-r {
  height: 2.28rem;
  width: 3.98rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }
  .yd-layer .layer-bd .layer-bd-list .yd-bd-r .bd-r-item {
    display: flex;
    justify-content: space-around; }
    .yd-layer .layer-bd .layer-bd-list .yd-bd-r .bd-r-item a {
      position: relative;
      display: block; }
      .yd-layer .layer-bd .layer-bd-list .yd-bd-r .bd-r-item a::before {
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        border: 1px solid #dad6d6;
        left: 0;
        top: 0;
        transform: scale(0.5, 0.5);
        transform-origin: left top;
        box-sizing: border-box; }
      .yd-layer .layer-bd .layer-bd-list .yd-bd-r .bd-r-item a .bd-r-item-1 {
        width: 1.2rem;
        height: 1.03rem; }
      .yd-layer .layer-bd .layer-bd-list .yd-bd-r .bd-r-item a .bd-r-item-2 {
        width: 2.42rem;
        height: 1.03rem;
        vertical-align: middle; }

.nz-layer .layer-hd {
  color: #f71c5a; }
  .nz-layer .layer-hd .hd-title i {
    position: relative;
    top: -2px; }
  .nz-layer .layer-hd::before {
    background-color: #f71c5a; }
  .nz-layer .layer-hd .hd-r i.gdd img {
    background-color: #f71c5a; }

.nz-layer .layer-bd .layer-bd-list .nz-bd-l a {
  display: block;
  position: relative; }
  .nz-layer .layer-bd .layer-bd-list .nz-bd-l a::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    border: 1px solid #dad6d6;
    left: 0;
    top: 0;
    transform: scale(0.5, 0.5);
    transform-origin: left top;
    box-sizing: border-box;
    border-top: none; }
  .nz-layer .layer-bd .layer-bd-list .nz-bd-l a img {
    width: 1.78rem;
    height: 2.28rem;
    vertical-align: middle; }

.nz-layer .layer-bd .layer-bd-list .nz-bd-r {
  height: 2.28rem;
  width: 3.98rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }
  .nz-layer .layer-bd .layer-bd-list .nz-bd-r .bd-r-item {
    display: flex;
    justify-content: space-around; }
    .nz-layer .layer-bd .layer-bd-list .nz-bd-r .bd-r-item a {
      position: relative;
      display: block; }
      .nz-layer .layer-bd .layer-bd-list .nz-bd-r .bd-r-item a::before {
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        border: 1px solid #dad6d6;
        left: 0;
        top: 0;
        transform: scale(0.5, 0.5);
        transform-origin: left top;
        box-sizing: border-box; }
      .nz-layer .layer-bd .layer-bd-list .nz-bd-r .bd-r-item a .bd-r-item-1 {
        width: 1.2rem;
        height: 1.03rem; }
      .nz-layer .layer-bd .layer-bd-list .nz-bd-r .bd-r-item a .bd-r-item-2 {
        width: 2.42rem;
        height: 1.03rem;
        vertical-align: middle; }
      .nz-layer .layer-bd .layer-bd-list .nz-bd-r .bd-r-item a .nz-wz {
        position: absolute;
        bottom: 0;
        height: 45%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6); }
        .nz-layer .layer-bd .layer-bd-list .nz-bd-r .bd-r-item a .nz-wz p {
          font-size: 12px;
          text-align: center;
          font-weight: 700;
          color: #f71c5a; }

.xb-layer .layer-hd {
  color: #bf0ff9; }
  .xb-layer .layer-hd .hd-title i {
    position: relative;
    top: -2px; }
  .xb-layer .layer-hd::before {
    background-color: #bf0ff9; }
  .xb-layer .layer-hd .hd-r i.gdd img {
    background-color: #bf0ff9; }

.site-footer {
  position: fixed;
  height: 42px;
  background-color: #171717;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  color: #9b9b9b; }
  .site-footer .footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .site-footer .footer-list .footer-list-item {
      width: 36px;
      height: 35px; }
      .site-footer .footer-list .footer-list-item:nth-child(4) img {
        left: 4px; }
      .site-footer .footer-list .footer-list-item i {
        font-size: 19px;
        line-height: 13px;
        position: relative;
        top: -13px; }
        .site-footer .footer-list .footer-list-item i img {
          position: relative;
          top: -2px;
          width: 20px;
          height: 19px;
          vertical-align: middle; }
      .site-footer .footer-list .footer-list-item .f-sy {
        font-size: 12px;
        position: relative;
        top: -16px;
        left: -2px;
        display: inline; }
      .site-footer .footer-list .footer-list-item span {
        display: block;
        font-size: 12px;
        position: relative;
        top: -15px;
        left: -2px; }

html {
  background-color: #eee; }

.container {
  background-color: #eee; }
  .container main {
    margin: 0.64rem 0.68rem; }
    .container main .middle-ss-top {
      font-size: 0.44rem; }
      .container main .middle-ss-top i {
        position: relative;
        top: 2px;
        margin-right: 5px; }
    .container main .middle-ss-list {
      margin-top: 9px;
      display: flex;
      justify-content: space-around; }
      .container main .middle-ss-list .ss-list-item {
        padding: 0 0.36rem;
        background-color: #fff;
        font-size: 0.24rem; }
    .container main .middle-ss-bottom {
      margin-top: 23px; }
      .container main .middle-ss-bottom .litter-box {
        width: 7.33rem;
        font-size: 0.24rem;
        letter-spacing: 0.22rem;
        padding: 0.44rem;
        margin: 0 auto;
        text-align: center;
        background-color: #bcbcbc;
        border-radius: 3px; }
        .container main .middle-ss-bottom .litter-box i {
          padding-right: 2px;
          font-size: 0.80rem; }
    .container main .site-footer {
      position: fixed;
      height: 42px;
      background-color: #171717;
      bottom: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      color: #9b9b9b; }
      .container main .site-footer .footer-list {
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .container main .site-footer .footer-list .footer-list-item {
          width: 36px;
          height: 35px; }
          .container main .site-footer .footer-list .footer-list-item:nth-child(4) img {
            left: 4px; }
          .container main .site-footer .footer-list .footer-list-item i {
            font-size: 19px;
            line-height: 13px;
            position: relative;
            top: 4px; }
            .container main .site-footer .footer-list .footer-list-item i img {
              position: relative;
              top: -2px;
              width: 20px;
              height: 19px;
              vertical-align: middle; }
          .container main .site-footer .footer-list .footer-list-item .f-sy {
            font-size: 12px;
            position: relative;
            top: 2px;
            left: -2px;
            display: block; }
          .container main .site-footer .footer-list .footer-list-item span {
            display: block;
            font-size: 12px;
            position: relative;
            top: 2px;
            left: -2px; }
